:root {
    --primCol: #c5ee7d;
    --secCol: #5c452d;
    --terCol: #e1dfb6;
    --extCol: #8cb04e;
}

@font-face {
    font-family: shrek;
    src: url(../font/shrek.ttf);
}

body{
    font-family: 'shrek';
    background-image: url(../images/background.jpeg);
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% 0 3% 0;
}

h1 {
    font-size: 60px;
    color: var(--primCol);
    background-color: var(--secCol);
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-shadow: 5px 5px black;
}

h2{
    font-size: 60px;
}

section{
    height: 70%;
    display: flex;
    flex-direction: column;
}

.align-rows {
    display: flex;
    flex-direction: row;
}

#game-over {
    position:absolute;
    left: 40%;
    top: 35%;
    font-size: 50px;
    background: red;
    padding: 8px 8px 8px 8px;
    border: solid;
    border-radius: 8px;
    display: none;
}

.game-bar {
    margin-top: 20px;
    padding: 7% 5% 5% 5%;
    justify-content: center;
}

.UI {
    margin: 20px 0 20px 0;
    padding: 0 5% 0 2%;
}

#high-score {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 25px;
    background: var(--secCol);
    padding: 3px 3px 3px 3px;
    border: solid;
    border-radius: 5px;
}

#opponent-move {
    font-size: 100px;
    position: absolute;
    right: 70%;
}

#score {
    position: absolute;
    right: 40%;
}

#time-remain {
    position: absolute;
    right: 20%;
    font-size: 80px;
}

.player-bar {
    justify-content: center;
    margin-bottom: 10px;
}

.answer {
    padding: 10px 5% 10px 3%;
    border: solid;
    border-radius: 10px;
    background-color: var(--primCol);
}

.answer:hover {
    cursor: pointer;
    box-shadow: 2px 2px black;
}

#wombo-combo {
    position: absolute;
    right: 10%;
    top: 70%;
    font-size: 35px;
    background: var(--extCol);
    padding: 3px 6px 3px 6px;
    border: solid;
    border-radius: 15px;
    display: none;
}

#start-btn {
    justify-content: center;
    text-align: center;
    background-color: var(--extCol);
    width: 20%;
    position: relative;
    padding: 0.6% 0 0.6% 0;
    left: 40%;
    font-size: 170%;
    border: solid;
    border-radius: 8px;
}

#start-btn:hover {
    cursor: pointer;
}